* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
header {
  margin-bottom: 10rem;
}
body {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: hsl(243, 87%, 12%);
}
li {
  list-style: none;
}
h1,
h2,
h3,
button,
nav {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: hsl(243, 87%, 12%);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.default-padding {
  padding: 7rem 5rem;
}

.grid {
  display: grid;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.grid--2col {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3col {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4col {
  grid-template-columns: repeat(4, 1fr);
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav ul {
  display: flex;
  gap: 6rem;
  color: hsl(0, 0%, 75%);
}
.nav-item {
  text-decoration: none;
  font-weight: 700;
}
/* Hero section */
.heading {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.email-box {
  padding: 0.8rem 4rem;
}
.btn {
  border: none;
  font-weight: 700;
  color: #fff;
  border-radius: 2px;
  background-color: hsl(224, 93%, 58%);
  padding: 1rem 5rem;
}
.btn:hover {
  background-color: hsl(224, 93%, 58%, 0.5);
}
.btn:focus {
  outline: none;
}
.image1 {
  width: 40vw;
}
/* Productivity section */
.productive {
  background-image: url(images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 15rem;
  padding-bottom: 10rem;
}
.image2 {
  width: 40vw;
}
.productive-img {
  justify-self: end;
}
.productive-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.special {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.arrow {
  color: hsl(170, 45%, 43%);
}
.special p {
  color: hsl(170, 45%, 43%);
  text-decoration: underline dotted;
}
.special:hover {
  color: hsl(170, 45%, 43%);
  text-decoration: underline;
}
.quote {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  width: 70%;
}
.quotation {
  height: 2.4rem;
  width: 2.4rem;
  margin-bottom: 1rem;
}
.quote p {
  margin-bottom: 1rem;
}
.author-profile-pic {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.author-name,
.author-job {
  line-height: 0.8;
  font-size: 1.2rem;
}
.author-name {
  font-weight: bold;
  font-size: 1.4rem;
}
/* Early Access section */
.early-access-section {
  background-color: hsl(238, 22%, 44%);
  padding: 7rem 3rem;
  color: #fff;
}
.early-access-title {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
.early-access-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  align-self: flex-start;
}
.early-access-right .email-box {
  margin-top: 1rem;
  width: 80%;
}
.early-access-right button {
  width: 40%;
}
/* Footer section  */
.footer {
  background-color: hsl(243, 87%, 12%);
  color: #fff;
}
.footer-link:hover {
  color: hsl(224, 93%, 58%, 0.5);
}
.footer-lists {
  align-items: start;
}
.footer .bot-logo {
  margin-bottom: 3rem;
}
.footer-icon {
  margin-right: 1.5rem;
}
.company-details,
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.social-links {
  display: flex;
  gap: 3rem;
}
.icon {
  height: 2.6rem;
  width: 2.6rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
  fill: #fff;
}
.icon:hover {
  fill: hsl(224, 93%, 58%, 0.5);
  border: 1px solid hsl(224, 93%, 58%, 0.5);
}
/* Attribution */
.attribution {
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* - Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)
- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)
- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%) */

/* font-family: "Raleway", sans-serif; */
